.vesper-libre-regular {
    font-family: "Vesper Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .vesper-libre-bold {
    font-family: "Vesper Libre", serif;
    font-weight: 700;
    font-style: normal;
  }

  .open-sans-regular {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  .open-sans-bold {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-style: normal;
  }  }

  body{
    font-family: Vesper Libre;
    line-height: 1.5;
    margin: 0;
    color: #1a1a1a;
  }

  header, footer{
    background-color: #000;
    color: #fff;
    text-align: center;
  }
